---
import ClassLayout from '../../../layouts/ClassLayout.astro';
import ActivitySection from '../../../components/ActivitySection.astro';
import BackButton from '../../../components/BackButton.astro';

const level = "3eme";

const documents = [
  {
    title: "Étude de cas",
    pdfUrl: "/documents/3eme/sequence-1/activite-3/etude-cas.pdf"
  }
];
---

<ClassLayout title="Activité 3 - Séquence 1 - 3ème" level={level}>
  <BackButton href={`/${level}/sequence-1`} />
  <h1>Activité 3 - Étude de cas</h1>
  
  <ActivitySection
    title="Application sur un système technique réel"
    description="Mettez en pratique vos connaissances sur les chaînes d'énergie et d'information en analysant un système technique réel."
    documents={documents}
  />
</ClassLayout>

<style>
  h1 {
    text-align: center;
    color: #1e3a8a;
    margin-bottom: 2rem;
  }
</style>
