---
import ClassLayout from '../../../layouts/ClassLayout.astro';
import ActivitySection from '../../../components/ActivitySection.astro';
import BackButton from '../../../components/BackButton.astro';

const documents = [
  {
    title: "Lancement de Séquence",
    pdfUrl: "/documents/5eme/sequence-5/activite-1/Fiche-de-lancement-de-sequence.pdf"
  }
];
---

<ClassLayout title="Activité 1 - Séquence 5 - 5ème" level="5eme">
  <BackButton href="/5eme/sequence-5" />
  <h1>Activité 1 - La souris : son intéraction avec son environnement</h1>
  
  <ActivitySection
    title="Comment bien choisir ma souris informatique ?"
    description="Dans cette activité, nous allons découvrir d'un manière générale la souris informatique, quelle souris choisir parmis tous les modèles exsistants"
    documents={documents}
  />
</ClassLayout>

<style>
  h1 {
    text-align: center;
    color: #1e3a8a;
    margin-bottom: 2rem;
  }
</style>
