---
import ClassLayout from '../../../layouts/ClassLayout.astro';
import ActivitySection from '../../../components/ActivitySection.astro';
import BackButton from '../../../components/BackButton.astro';

const level = "4eme";

const documents = [
  {
    title: "Fiche de lancement de séquence",
    pdfUrl: "/documents/4eme/sequence-7/4ème - Séquence 7-Activité 1- Fiche de lancement de séquence -  Créer un réseau local associé à une borne Wifi.pdf"
  }
];
---

<ClassLayout title="Activité 1 - Séquence 7 - 4ème" level={level}>
  <BackButton href={`/${level}/sequence-7`} />
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2885775986633981"
     crossorigin="anonymous"></script>
<!-- bloc 18 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2885775986633981"
     data-ad-slot="1902438011"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  <h1>Activité 1 - Pourquoi ajouter des postes au réseau ?</h1>
  
  <ActivitySection
    title="Fiche de lancement de séquence "
    description="Le principal annonce la venue d’une certification PIX, mais il n’y a pas assez d’ordinateurs disponibles. Les élèves doivent proposer des solutions pour connecter des ordinateurs portables au réseau existant."
    documents={documents}
  />
</ClassLayout>

<style>
  h1 {
    text-align: center;
    color: #1e3a8a;
    margin-bottom: 2rem;
  }
</style>
