---
import ClassLayout from '../../../layouts/ClassLayout.astro';
import ActivitySection from '../../../components/ActivitySection.astro';
import BackButton from '../../../components/BackButton.astro';

const level = "4eme";

const documents = [
  {
    title: "Choisir un procédé de fabrication adapté à la forme d’une pièce.",
    pdfUrl: "/documents/4eme/sequence-5/4ème - Séquence 5-Activité 4- Fiche d_activité - Procédés de fabrication.pdf"
  }
];
---

<ClassLayout title="Activité 4 - Séquence 5 - 4ème" level={level}>
  <BackButton href={`/${level}/sequence-5`} />
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2885775986633981"
     crossorigin="anonymous"></script>
<!-- bloc 9 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2885775986633981"
     data-ad-slot="7738547611"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  <h1>Activité 4 - Comment identifier et choisir un procédé de fabrication ?</h1>
  
  <ActivitySection
    title="Choisir un procédé de fabrication adapté à la forme d’une pièce."
    description="Lors d’une manipulation, les élèves constatent qu’un battant de volet ne se ferme plus correctement. Une pièce de fixation semble cassée."
    documents={documents}
  />
</ClassLayout>

<style>
  h1 {
    text-align: center;
    color: #1e3a8a;
    margin-bottom: 2rem;
  }
</style>
